Module.symvers
modules.order
.tmp_versions
*.ko
*.mod.c
*o.cmd
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
dump_sema
getident
libivshmem.a
sum_sema
uio_read
uio_send
*.class
*.so
*.o
.*.sw*
